.cardBlockFlex {
  display: flex;
  flex-direction: column;
}

.cards {
  margin-top: 80px;
}

.cardFonts {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.cardFontsColor {
  color: #949494;
}

.cardFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardImg {
  display: flex;
  justify-content: center;
}

.cardImg img {
  padding-left: 0;
}

.cardFlex p {
  margin-bottom: 0;
}

.cardBorder {
  width: 140px;
  height: 166px;
  cursor: pointer;
}

.cardBorder:hover {
  background-color: rgb(140, 182, 250);
  border-radius: 5px;
}

.cardBorder:active {
  background-color: rgb(84, 149, 255);
  border-radius: 5px;
}
