@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../scss/input.scss';
@import '../scss/layout.scss';

body {
  background-color: #E8F7FF;
}

.container {
  width: 1000px;
  height: 500px;
}