@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './input.scss';
@import './layout.scss';
@import './weather.scss';

body {
  background-color: #E8F7FF;
}

.container {
  width: 1400px;
  height: 650px;
}

.date {
  padding-left: 120px;
  padding-top: 50px;
  font-size: 20px;
  color: #949494;
}

.img {
  padding-left: 20px;
}

.chartWrapper {
  width: 800px;
  height: 400px;
  padding-top: 100px;
  padding-left: 40px;
}

.wrapper {
  display: flex;
}